.shift-container {
  height: 70vh;
  display: flex;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center;
  max-height: fit-content;
  // margin-top: 65px;
  margin-block: 55px;
}

.camera-position__section {
  height: auto !important;
  width: 60%;
  border-radius: 7px;
  outline: 1px solid white;
  background-color: #2e5dd350;
  margin: 15px auto 20px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
::ng-deep .camera video {
  width: 100%;
  aspect-ratio: 18 / 6;
  height: 300px;
  // padding: 12px;
  // border-radius: 10px !important;

  object-fit: cover;
}
.sub-heading {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
}
.sub-heading h2 {
  text-align: end;
  font-size: 18px;
  border-radius: 5px;
  margin: 10px !important;
  padding: 7px;

  width: fit-content;
  background-color: white;
  color: #2e5dd3;
  font-weight: bold;
  position: relative;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  display: block;
}

.shift-wrapper {
  width: 97%;
  margin: auto;
}
.cards-container__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 12px;
}
.cards-container__outside {
  // display: flex;
  display: flex;

  // grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: ;
  height: fit-content !important;
  width: 95%;
  margin: auto;
  gap: 10px;
  // height: 50% !important;
}
.card-wrapper__cards {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  // height: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between !important;
  background-color: white;
  // padding-right: 15px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex: 1;
  // flex-grow: ;
  padding: 0px;
  cursor: pointer;
}
.card-wrapper__cards:active {
  scale: 0.99;
  opacity: 0.6;
}
.card-body-wrapper {
  // text-align: center !important;
  padding-block: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.card-body-wrapper div {
  // margin-right: 20px;
  // transform: translateY(9px);
}
.card-body-wrapper div:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
.card-body-wrapper div:nth-child(2) {
  font-size: 14px;
  font-weight: bold;
  margin-right: 25px;
  opacity: 0.6;
}
.img-holder {
  text-align: center;
}
.img-holder img {
  width: 30%;

  aspect-ratio: 5 / 5;

  // padding: 4px;
}
.card-body-wrapper div {
  text-align: center;
  width: fit-content;
}

.meta-data {
  background-color: #2e5dd3 !important;
  // padding: 6px !important;
  width: 100%;
  border-radius: 5px;
  // display: g;
  // margin: auto;
  color: white;
  margin: 4rem auto 10px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;

  box-shadow: 0px 0px 8px #00000055;
}
.meta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px !important;
  margin: 6px !important;
}
.meta h5 {
  background-color: #658df283;
  width: fit-content;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #00000037;
}

.col .text-center {
  font-size: 16px;
  font-weight: bold;
}

.locked-image-container {
  position: absolute;
  right: 45px;
  bottom: 35px;
  width: 90px;
  // height: 120px;
}

.locked-image-container img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
}

.logo {
  height: 100vh;
  width: 100vw;
  background: url("../../../assets/logo.jpg") no-repeat center;
  background-blend-mode: color-burn;
  background-size: cover;
}
.damd {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.1);
}
.damd_icon {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.col-md-2 {
  box-shadow: 7px 3px 18px -10px #000;
}

.card-img-top {
  height: 180px;
}

.cardstyle {
  padding: 15px;
  height: auto;
  max-height: 350px;
  border-radius: 15px;
  box-shadow: 0px 6px 6px -2px #c1c1c1;
  width: 122px;
  height: 122px;
}

.card-body {
  padding: 0;
  margin-top: 10px;
}

// .parent-camera {
//   position: relative;
//   min-height: 450px;
// }

.sperator-postion {
  position: relative;
  z-index: 1;
  right: 105%;
  top: 70px;
  width: 38%;
  margin: 0px 6rem;
}
.amount-price {
  margin: 0px 25%;
}

@media (max-width: 996px) {
  @page {
    size: 80mm 210mm;
  }

  .camera-postion {
    position: relative;
    top: 0;
    left: 90%;
  }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  text-align: left;
}

.centered {
  text-align: center;
  align-content: center;
}

.ticket {
  width: 155px;
  max-width: 155px;
}

// img {
//   max-width: inherit;
//   width: inherit;
// }
.ticket {
  display: none;
}

@media print {
  // table, tr, td {
  //   border: 3px solid red;
  // }
  // tr.noBorder td {
  //   border: 0;
  // }
  .ticket {
    position: absolute;
    right: -50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  table {
    border-collapse: separate !important;
    border: none !important;
    margin-bottom: 0 !important;
    margin-top: -10px;
    border-spacing: 9px;
  }

  .text-center {
    text-align: center !important;
  }

  th,
  td {
    width: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    vertical-align: middle;
  }

  .td-new {
    border: none !important;
    padding: 0 !important;
    vertical-align: middle;
    text-align: center;
  }

  .row {
    line-height: 30px;
    margin: 0;
  }
  .col-md-12 {
    padding: 0 !important;
  }
  .new-span {
    border: 1px solid;
    padding: 1px;
  }

  .mt0 {
    margin-top: -13px !important;
  }
  @page {
    margin: 0 !important;
  }
  .container {
    display: none;
  }
  .ticket {
    display: block;
  }
  // .hidden-print,
  // .hidden-print * {
  //     display: none !important;
  // }

  * {
    font-size: 12px;
    font-family: "Times New Roman";
    font-weight: bold;
  }

  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th,
  td {
    padding: 0.1px;
    text-align: left;
  }

  .centered {
    text-align: center;
    align-content: center;
  }

  .ticket {
    margin-right: auto;
    margin-left: auto;
    width: 273px !important;
    max-width: 280px !important;
  }

  .td-values {
    padding: 0 !important;
    text-align: center;
  }
  .printValue {
    font-weight: bold;
    text-align: right;
    font-size: 10px;
  }
  img {
    height: 82px;
    margin-top: 20px;
  }
  .mt-6 {
    margin-top: 35px !important;
  }

  .qr {
    height: 110px;
    width: 110px;
    position: relative;
    top: -50px;
  }
}
