<main class="shift-container">
  <!-- -----------------------======================== Camera position container START==============---------- -->
  <section class="shift-wrapper">
    <!-- -------------------------=========================== END ===================--------------------- -->
    <!-- -----------------------====================== MetaData START==========-------- -->

    <div class="row meta-data rowstyle justify-content-center">
      <div class="col">
        <h5 class="text-center">البوابة :{{ "البغدادي" }}</h5>
      </div>

      <div class="col">
        <h5 class="text-center">رقم الحارة : {{ shiftInfp.lane_id }}</h5>
      </div>

      <div class="col">
        <h5 class="text-center">رقم الوردية :{{ shiftInfp.shift_id }}</h5>
      </div>

      <div class="col">
        <h5 class="text-center">رقم النسخة : {{ shiftInfp.shift_id }}</h5>
      </div>
    </div>
    <!-- ------------------------------================ END ================---------------- -->

    <!-- --------------------=================== CLICKABLE CARDS CONTAINER ==============--------------------------- -->
    <div class="sub-heading">
      <h2>تصنيف التذكرة</h2>
    </div>
    <div class="cards-container__outside">
      <div
        class="card-wrapper__cards"
        *ngFor="let categories of ViewTemplate"
        (click)="triggerSnapshot(categories)"
        (load)="print()"
        [ngClass]="{ damd: isActiveGate }"
      >
        <div class="img-holder">
          <img
            [src]="imgUrl + categories.car_class_id.car_image"
            class="img-fit"
            alt="categories-img"
          />
        </div>
        <div class="card-body-wrapper">
          <p>{{ categories.car_class_id?.car_classe_Name_Ar }}</p>
          <p>{{ categories.amount }}</p>
        </div>
      </div>
    </div>
    <!-- -----------------------------=========================== END ========================----------------- -->
  </section>
  <section class="camera-position__section">
    <img src="../../../assets/bridge.jpg" alt="" />
  </section>
</main>
