.navbar-main {
  background-color: #fff;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  box-shadow: 0px 0px 12px #00000025;
  height: fit-content;
}

.hide-navbar {
  display: none;
}

.title-adjustment {
  padding: 4px;
  font-weight: bold;
}
