<div id="nav" class="d-print-none footer-wrapper" dir="rtl" *ngIf="isHidden">
  <div
    class="buttons-container d-flex w-100 justify-content-center align-items-center"
  >
    <div
      class="col-12 d-flex justify-content-center buttons-wrapper bg-white gap-3"
    >
      <button class="button-styles buttons different green">
        <span>تعليق وردية </span> <i class="fa-solid fa-pause"></i>
      </button>
      <button
        class="button-styles border-diff buttons different"
        (click)="navigateToShiftDetails()"
      >
        <span>تفاصيل الوردية</span>
        <i class="fa-solid fa-book"></i>
      </button>
      <button class="button-styles buttons red" (click)="logout()">
        <span>غلق الوردية</span> <i class="fa-regular fa-circle-xmark"></i>
      </button>
    </div>
  </div>
</div>
