<app-structure-components
  [lang]="getCurrentLanguage()"
  [titles]="getCurrentLanguage() == 'ar' ? ' انواع البضائع ' : 'Cargo types'"
  [endPointUrl]="'weights/cargo-type/'"
  [update]="updateApi | async"
  (listOdData)="handlListOfData($event)"
>
  <div class="d-flex justify-content-between" header>
    <app-search
      [dataList]="holdOriginalData | async"
      [keyOfSearch]="'number'"
      (returnList)="handleFilterdData($event)"
    >
    </app-search>
    <app-button
      [btnClass]="'btn btn-outline-primary rounded-pill add-btn'"
      [btnText]="getCurrentLanguage() == 'ar' ? 'اضافة' : 'Add'"
      (CallBack)="openModel()"
    ></app-button>
  </div>

  <div body>
    <app-table
      [tableClass]="'table table-striped table-responsive w-28-rem'"
      [tableHeaderList]="listOfHeader"
      [tableBodyList]="holdListOfFilterData | async"
      [listofObject]="holdListOfDatakeys"
      [isEditable]="true"
      [isDeleteble]="false"
      (callbackEdit)="editModel($event)"
    >
    </app-table>
  </div>

  <div footer>
    <app-paginations
      [pageSize]="pageSize"
      [page]="page"
      [maxSize]="10"
      [collectionSize]="(holdCollectionDataAfterFilter | async)?.length"
      (callBackk)="handleDataChange($event)"
    >
    </app-paginations>
  </div>
</app-structure-components>

<app-model [Lang]="getCurrentLanguage()">
  <div header>
    <h4 *ngIf="isNewMode">
      {{
        getCurrentLanguage() == "ar" ? "اضافة نوع بضائع جديد" : "Add Cargo type"
      }}
    </h4>
    <h4 *ngIf="isEditMode">
      {{
        getCurrentLanguage() == "ar" ? "تعديل نوع بضائع " : "Update Cargo type"
      }}
    </h4>
  </div>

  <div body>
    <form [formGroup]="CargoTypeForm" *ngIf="isNewMode || isEditMode">
      <div class="form-group mb-2 col-md-6 col-sm-12">
        <app-label
          [LabelValue]="
            getCurrentLanguage() == 'ar' ? 'نوع البضاعة' : 'Cargo type'
          "
          [LabelFor]="'description'"
        >
        </app-label>

        <app-input-text
          [Type]="'text'"
          [Placeholder]="
            getCurrentLanguage() == 'ar' ? ' نوع البضاعة' : 'Cargo type'
          "
          [FormConterName]="'description'"
          [InputClass]="'form-control '"
          [Id]="'description'"
          [FormParent]="CargoTypeForm"
          [disable]="false"
          [isClicked]="false"
          [isChanges]="false"
          (callBack)="handleInputCallback($event)"
        >
        </app-input-text>
      </div>
    </form>
  </div>

  <div footer>
    <div class="d-flex text-end">
      <app-button
        [btnClass]="'btn btn-outline-success'"
        [btnText]="getCurrentLanguage() == 'ar' ? 'حفظ' : 'Save'"
        (CallBack)="submitRequest()"
      ></app-button>
    </div>
  </div>
</app-model>
