<div [formGroup]="ParentForm" [class]="Class">
  <input
    type="radio"
    [class]="Class"
    [formControlName]="FormConterName"
    [id]="FormConterName"
    [placeholder]="Placeholder"
    [value]="Value"
    (change)="isChanges ? handleOnChange($event) : null"
  />
</div>

<!-- <div [formGroup]="ParentForm" [class]="Class">
  <input
    type="checkbox"
    [class]="Class"
    [formControlName]="FormConterName"
    [id]="FormConterName"
    [placeholder]="Placeholder"
    (change)="isChanges ? handleOnChange($event) : null"
  />
</div> -->
